= simple_form_for @menu, :html => { :class => 'well form-horizontal' } do |f|
  = f.input :title
  = f.input :path
  = f.input :side
  = f.input :top
  = f.input :importance
  - if current_user && current_user.admin
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), menus_path, :class => 'btn'
